<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chq.fireworks.mapper.DictTypeMapper" >
  <resultMap id="BaseResultMap" type="com.chq.fireworks.model.DictType" >
    <id column="type_num" property="typeNum" jdbcType="INTEGER" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="can_modify" property="canModify" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    type_num, type_name, can_modify, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sc_dict_type
    where type_num = #{typeNum,jdbcType=INTEGER}
  </select>

  <select id="query" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sc_dict_type
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sc_dict_type
    where type_num = #{typeNum,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chq.fireworks.model.DictType" >
    insert into sc_dict_type (type_num, type_name, can_modify, 
      remark)
    values (#{typeNum,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR}, #{canModify,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chq.fireworks.model.DictType" >
    insert into sc_dict_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typeNum != null" >
        type_num,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
      <if test="canModify != null" >
        can_modify,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typeNum != null" >
        #{typeNum,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="canModify != null" >
        #{canModify,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chq.fireworks.model.DictType" >
    update sc_dict_type
    <set >
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="canModify != null" >
        can_modify = #{canModify,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where type_num = #{typeNum,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chq.fireworks.model.DictType" >
    update sc_dict_type
    set type_name = #{typeName,jdbcType=VARCHAR},
      can_modify = #{canModify,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where type_num = #{typeNum,jdbcType=INTEGER}
  </update>
</mapper>