<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chq.fireworks.mapper.NoteMapper" >
  <resultMap id="BaseResultMap" type="com.chq.fireworks.model.Note" >
    <id column="note_id" property="noteId" jdbcType="INTEGER" />
    <result column="note_name" property="noteName" jdbcType="VARCHAR" />
    <result column="note_type" property="noteType" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    note_id, note_name, note_type, content, create_time, create_user, update_time, update_user
  </sql>

  <sql id="Column_List">
    a.note_id, a.note_name, a.note_type, a.content, a.create_time, a.create_user, a.update_time, a.update_user
  </sql>

  <select id="queryNote" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tk_note a
    <where>
      <if test="null != noteType">
        and a.note_type = #{noteType}
      </if>
      <if test="null != noteName and '' != noteName">
        and a.note_name like CONCAT('%',#{noteName},'%')
      </if>
      <if test="null != createDate">
        and DATEDIFF(a.create_time, #{createDate}) = 0
      </if>
    </where>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tk_note
    where note_id = #{noteId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tk_note
    where note_id = #{noteId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chq.fireworks.model.Note" >
    insert into tk_note (note_id, note_name, note_type, 
      content, create_time, create_user, 
      update_time, update_user)
    values (#{noteId,jdbcType=INTEGER}, #{noteName,jdbcType=VARCHAR}, #{noteType,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chq.fireworks.model.Note" >
    insert into tk_note
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="noteId != null" >
        note_id,
      </if>
      <if test="noteName != null" >
        note_name,
      </if>
      <if test="noteType != null" >
        note_type,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="noteId != null" >
        #{noteId,jdbcType=INTEGER},
      </if>
      <if test="noteName != null" >
        #{noteName,jdbcType=VARCHAR},
      </if>
      <if test="noteType != null" >
        #{noteType,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chq.fireworks.model.Note" >
    update tk_note
    <set >
      <if test="noteName != null" >
        note_name = #{noteName,jdbcType=VARCHAR},
      </if>
      <if test="noteType != null" >
        note_type = #{noteType,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where note_id = #{noteId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chq.fireworks.model.Note" >
    update tk_note
    set note_name = #{noteName,jdbcType=VARCHAR},
      note_type = #{noteType,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where note_id = #{noteId,jdbcType=INTEGER}
  </update>
</mapper>